<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div><a href="/">Sign Out</a></div>
        <br>
        <div><a href="/clinic">Back</a></div>
        <hr>
        <h3> CLINIC : {{name}} {{hpid}}</h3>
        <hr>
            <h3>Prescription</h3>
            <hr>
            Patient's Name: {{pname}} <br>
            Patient's Phone: {{pnumber}}<br>
            Date: {{date}}<br>
            Clinic: {{clinic}} <br>
            Medicine Name: {{medicine}}<br>
            Dosage Per Time: {{dosage}}<br>
            Dosage Per Day: {{daydosage}}<br>
            Total Dosage: {{total}}<br>
            <hr>
    </body>
</html>