<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="/page_type" method="GET">
        <h3>Choose Your User Type</h3>
        <br>
        If you has more than one user type, PLEASE choose one you want to use.
        <br>
        <input type='radio' name='type' value='patient'>Patient<br>
        <input type='radio' name='type' value='clinic'>Clinic<br>
        <input type='radio' name='type' value='store'>Store<br>
        <input type='submit' value="Submit"><br>
    </form>
    </body>
</html>