<html>
    <head>

    </head>
    <body>
        <div><a href="/">Sign Out</a></div>
        <hr>
        <form action="/clinic">
        <h2> Patient Homepage: {{name}} </h2>
        <hr>
        <h4>My Information</h4>
        <hr>
        <ul>
            <li><p><a href="/register_most_visited">Register a Clinic Visited the Most</a></p></li>
            <li><p><a href="/recent_clinic">See Recently Visited Clinics</a></p></li>
        </ul>
        <hr>
        <h4> Search Clinic </h4>
        <hr>
        <ul>
            <li><p><a href="/search_clinic">Search Clinic by Distance</a></p></li>
            <li><p><a href="/search_clinic_type">Search Clinic by Type of Medical Treatment</a></p></li>
            <li><p><a href="/search_clinic_name">Search Clinic by Name</a></p></li>
            <li><p><a href="/search_clinic_map">Search Clinic With Map</a></p></li>
        </ul>
        <hr>
        <h4> Search Store</h4>
        <hr>
        <ul>
            <li><p><a href="/search_pharmacy">Search Pharmacy</a></p></li>
        </ul>
        <hr>
        <h4> Reservation</h4>
        <hr>
        <ul>
            <li><p><a href="/reserve_clinic">Reserve Clinic</a></p></li>
            <li><p><a href="/reserve_pharmacy">Reserve Pharmacy</a></p></li>
            <li><p><a href="/prescription_result">See a Prescription</a></p></li>
        </ul>
        <br>
        <br>
        <br>
        </form>
    </body>
</html>        