<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div><a href="/">Sign Out</a></div>
        <br>
        <div><a href="/patient">Back</a></div>
        <hr>
        <h3> Patient Homepage: {{name}}</h3>
        <hr>
        <form action="/search_clinic_name" method="POST">
            <h4>Search Clinic by Name</h4>
            <hr>
            Clinic Name: <input type='text' name="cname" placeholder="Clinic Name">
            <input type='submit' value='Search'>
            <br>
            <hr>
            <h4>Search Result</h4>
            <pre>{{result}}</pre>
            <hr>
            <h4>Clinic List</h4>
            <pre>{{list}}</pre>
        </form>
    </body>
</html>